In [1]:
mylist = [1,2,3]

In [6]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [7]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [11]:
word = 'abced'

for index in enumerate(word):
    print(index)
    print('\n')

(0, 'a')


(1, 'b')


(2, 'c')


(3, 'e')


(4, 'd')

In [16]:
mylist1 = [1,2,3,4,5,6]
mylist2 = ['a', 'b', 'c']
mylist3 = [100,200,300]

In [18]:
for a,b,c in zip(mylist1,mylist2,mylist3):
    print(b)

a
b
c

In [17]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [19]:
'x' in [1,2,3]

False

In [21]:
'x' in ['x','y','z']

True

In [22]:
'a' in 'a world'

True

In [24]:
'mykey' in {'mykey':345}

True

In [26]:
d = {'mykey':345}

345 in d.keys()

False

In [27]:
mylist = [10,20,30,40,100]

In [28]:
min(mylist)

10

In [29]:
max(mylist)

100

In [30]:
from random import shuffle

In [31]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [36]:
shuffle(mylist)

In [37]:
mylist

[8, 2, 3, 5, 7, 1, 4, 6, 10, 9]

In [38]:
random_list = shuffle(mylist)

In [39]:
type(random_list)

NoneType

In [40]:
from random import randint

In [41]:
randint(0,100)

33

In [42]:
randint(0,100)

39

In [43]:
mynum = randint(0,10)

In [44]:
mynum

0

In [52]:
result = int(input('Favorite Number: '))

Favorite Number: 20

In [53]:
type(result)

int

In [50]:
float(result)

30.0

In [51]:
int(result)

30

In [58]:
for num1 in range(1,10):
    for num2 in range(1,10):
        print(f'{num1} x {num2} = {num1*num2}')
    print('\n')

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9


2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18


3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27


4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36


5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45


6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54


7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63


8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72


9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81